/* LINK AND NAV COLORING */
a:link,
#login-container {
    color: whitesmoke;
    font-size: 1.3rem;
    text-decoration: none;
}

a:visited {
    color: whitesmoke;
    font-size: 1.3rem;
    text-decoration: none;
}

a:hover {
    color: rgb(194, 181, 138);
    text-decoration: none;
    margin: 2px;
}

#navbar-container {
    /* background-color: rgba(114, 141, 167, 0.726); */

    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
    color: rgba(248, 216, 168, 0.678);
}

/*SPELLBOOK FORMATTING */

#MySpellbookContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#spellbookContainer {
    display: flex;
    background-image: url("./assets/parchment-removebg-preview.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: row;
    justify-content: center;
}

#mySpells,
#myCantrips {
    display: flex;
    width: 18vw;
}

#mySpells {
    padding: 2rem 0rem 2rem 2rem;
}

#myCantrips {
    padding: 2rem 2rem 2rem 0rem;
}

#char-spells,
#char-cantrips {
    margin: 0.5vw 5vw 15vw 5vw;
}

#allSpellsContainer,
#allCantripsContainer {
    background-image: url("./assets/parchment-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: 20vw 100%;
    opacity: 0.8;
    width: 20vw;
    padding: 2vw 2vw 4vw 2vw;
    color: black;
    overflow: scroll;
    height: 50vw;
}

#allSpellNames,
#allCantripNames {
    text-align: left;
}

.spellbookSpacer {
    width: 10vw;
}
/* GENERAL FONTS */
h2 {
    color: rgba(248, 216, 168, 0.801);
    font-size: 2em;
    font-weight: 100;
}

h4 {
    color: rgba(247, 234, 216, 0.822);
    font-size: 1.5em;
    font-weight: 100;
}
.flex {
    display: flex;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-titles {
    display: flex;
    justify-content: space-evenly;
    height: 3rem;
}

/* spell search bars */
#search-spells-bar,
#search-cantrips-bar,
#search-spellbooks-spells-bar,
#search-spellbooks-cantrips-bar,
.register-bar {
    background-color: rgba(255, 255, 255, 0.644);
}

/* ROOT */
:root {
    background-image: url("https://images.unsplash.com/photo-1600181982553-ce7d36051c01?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
    background-attachment: fixed;
    background-size: 100%;
    font-family: "EB Garamond";
    line-height: 1.5;
    font-weight: 400;

    color: rgb(59, 24, 1);
    background-color: #242424;
    margin: 0;
    padding: 0;
}

/* MISC TEXT */
#register-here-text {
    font-size: 2rem;
}

/* BUTTONS */
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgba(255, 251, 246, 0.5);
    cursor: pointer;
    transition: border-color 0.25s;
    color: black;
}
button:hover {
    background-color: rgba(255, 255, 253, 0.726);
}
/* button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
} */

#register-button {
    font-size: 0.75em;
}
